<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    # Deny access to sensitive files
    <FilesMatch "^\.env">
        Order allow,deny
        Deny from all
    </FilesMatch>

    <FilesMatch "^\.git">
        Order allow,deny
        Deny from all
    </FilesMatch>

    <FilesMatch "composer\.(json|lock)$">
        Order allow,deny
        Deny from all
    </FilesMatch>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # RewriteBase added by provisioning for Laravel 11
    RewriteBase /nbc_saccos/core
# For template testing, uncomment the line below:

# Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
